<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Document</title>
    <script src="https://g.alicdn.com/taefed/externals/1.0.1/??react.js,react-dom.js,moment.js,next.js"></script>
    <link href="https://g.alicdn.com/taefed/externals/1.0.1/??next.css" rel="stylesheet" type="text/css">
    <style>
        body{
            margin:0;
        }
        .root{
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body >
    <!-- <div id="content" style="position:absolute;z-index: 100;">空白</div> -->
    <div class="root">
     
    </div>
</body>
</html>