@import './common/_variable.less';
@font-face {
    font-family: 'iconfont';  /* project id 1991465 */
    src: url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.eot');
    src: url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.woff') format('woff'),
    url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1991465_5i1sbd1p4va.svg#iconfont') format('svg');
}





.@{prefix}icon{
    font-family: 'iconfont';
}


.@{prefix}icon-upoad{
    font-family: 'iconfont';
    &:after{
        content:\E612;
    }
}