@import './common/_variable.less';
@font-face {
    font-family: 'iconfont';  /* project id 1991465 */
    src: url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.eot');
    src: url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.woff') format('woff'),
    url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1991465_lsncbvj3wa.svg#iconfont') format('svg');
  }



.@{prefix}icon{
    font-family: 'iconfont';
    font-style: normal;
} 

.@{prefix}icon-copy{
    &:before{
        content:'\E7E4';
    }
}

.@{prefix}icon-add{
    &:before{
        content:'\E67B';
    }
}


.@{prefix}icon-upoad{
    &:before{
        content:'\E612';
    }
}

.@{prefix}icon-folder{
    &:before{
        content:'\E958';
    }
}

.@{prefix}icon-arrow{
    &:before{
        content:'\E63d';
    }
}

.@{prefix}icon-folder-open{ 
    &:before{
        content:'\E79C';
    }
}

.@{prefix}icon-gengduo{ 
    &:before{
        content:'\E690';
    }
}

.@{prefix}icon-tiaoshiqi{ 
    &:before{
        content:'\E691';
    }
}

.@{prefix}icon-zhenjitiaoshi{  
    &:before{
        content:'\E693';
    }
}

.@{prefix}icon-fabu{ 
    &:before{
        content:'\E600';
    }
}

.@{prefix}icon-yulan{ 
    &:before{
        content:'\E695';
    }
}

.@{prefix}icon-baocun{ 
    &:before{
        content:'\E82A';
    }
}


.@{prefix}icon-yufabu{ 
    &:before{
        content:'\E694';
    }
}

.@{prefix}icon-huitui{ 
    &:before{
        content:'\E69C';
    }
}

.@{prefix}icon-tice{ 
    &:before{
        content:'\E629';
    }
}

.@{prefix}icon-tongguo{ 
    &:before{
        content:'\E65F';
    }
}

.@{prefix}icon-shuju{ 
    &:before{
        content:'\E611';
    }
}

.@{prefix}icon-js{ 
    &:before{
        content:'\E60E';
    }
}

.@{prefix}icon-wenhao{ 
    &:before{
        content:'\E71D';
    }
}

.@{prefix}icon-delete{ 
    &:before{
        content:'\E6F7';
    }
}

.@{prefix}icon-up{ 
    &:before{
        content:'\E665';
    }
}

.@{prefix}icon-down{ 
    &:before{
        transform:rotate(180deg);
        display: inline-block;
        content:'\E665';
    }
}