@import '../../../../styles/common/_variable.less';



.@{prefix}color{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.@{prefix}color-trigger{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.@{prefix}color-rect{
    display: flex;
    flex-direction: row; 
    width: 16px;
    height: 16px;
}

.@{prefix}color-label{
    width: 60px;
    margin-left: 4px;
    .next-input{
        width: 60px;
        text-align: center;
    }
}

.@{prefix}color-alpha{
    width: 48px;
    .next-input{
        width: 48px;
        text-align: center;
    }
}




